In [45]:
import pandas as pd
import numpy as np

In [46]:
movies= pd.read_csv(r'C:\Data Documents\DS-2022-PROJECTS\CB-Movie-Recommender-System-27122022\Dataset\tmdb_5000_movies.csv')
credits= pd.read_csv(r'C:\Data Documents\DS-2022-PROJECTS\CB-Movie-Recommender-System-27122022\Dataset\tmdb_5000_credits.csv')

In [47]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [48]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [49]:
# lets merge movies and credits dataset.
movies= movies.merge(credits,left_on= 'id', right_on='movie_id')
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  movie_id              4803 non-null   int64
 21  title_y               4803 non-null   object
 22  cast                  4803 non-null   object
 23  crew                  4803 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 938.1+ KB

In [50]:
# drop title_y column from the dataset.
movies.drop(columns=['title_y'], inplace= True)

# change title the title_x column to title.
movies.rename(columns={'title_x':'title'}, inplace= True)

In [51]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  movie_id              4803 non-null   int64
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 900.6+ KB

In [52]:
# lets select only important columns.
movies= movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [53]:
# remove nan values.
movies.dropna(inplace= True)

In [54]:
# lets check duplicate values.
movies.duplicated().sum()

0

the goal is create content based recommender system, for this we have to create one tag column, in this column we are going to put all the movies related in information. through this column system will able to match movies with other movies.

concatenate overview, genres, keywords, cast, crew column in tag column but the problem these columns has necessary and unecessary values, so we have to fetch only necessary values.

In [55]:
# example
# '[{"id": 28, "name": "Action"}]' its a string but it has to be converted as list.
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')
# This can be used for safely evaluating strings containing python values from untrusted sources without the need to parse the values oneself.

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [56]:
# create a function.
def cof(ob):
    l=[]
    for i in ast.literal_eval(ob):
        l.append(i['name']) # it takes only genres name.
    return l
    
# lets appply the function.
movies['genres']= movies['genres'].apply(cof)
movies['keywords']= movies['keywords'].apply(cof)

In [57]:
# create a function that selects only the first three cast member.
def cof_cast(ob):
    l=[]
    break_point= 0
    for i in ast.literal_eval(ob):
        if break_point < 3:
            l.append(i['name']) # it takes only cast name.
            break_point +=1
            # until then break_point < 3 loop will be run.
        else:
            break
    return l

# lets appply the function.
movies['cast']= movies['cast'].apply(cof_cast)

In [58]:
# create a function that selects only the director name.
def cof_dr(ob):
    l= []
    for i in ast.literal_eval(ob):
        if i['job']== 'Director': # it match job role with director  .
            l.append(i['name']) # it takes only director name.
            # until then job== director loop will be run.
            break
    return l

# lets appply the function
movies['crew']=movies['crew'].apply(cof_dr)

In [59]:
# convert overview column string to list.
movies['overview']= movies['overview'].apply(lambda x: x.split())

In [60]:
# remove spaces between words. because it might be problem for the system.
# example 'Science Fiction' : 'ScienceFiction'

movies['genres']= movies['genres'].apply(lambda x:[i.replace(' ', '') for i in x])
movies['keywords']= movies['keywords'].apply(lambda x:[i.replace(' ', '') for i in x])
movies['cast']= movies['cast'].apply(lambda x:[i.replace(' ', '') for i in x])
movies['crew']= movies['crew'].apply(lambda x:[i.replace(' ', '') for i in x])

In [61]:
# creat tag column.
movies['tag']= movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [62]:
# drop the unnecessary columns which are not needed now
movies.drop(movies.iloc[:,2:7], axis= 1, inplace= True)

In [63]:
# convert list to string
movies['tag']= movies['tag'].apply(lambda x: ' '.join(x))

In [64]:
# do the tag column values in lower case
movies['tag']= movies['tag'].apply(lambda x: x.lower())

In [65]:
# text to vectorize
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')
vectors= cv.fit_transform(movies['tag']).toarray()

In [75]:
# calculation of distance from one movie to another movie
from sklearn.metrics.pairwise import cosine_similarity
similarity= cosine_similarity(vectors)
similarity.shape

(4800, 4800)

In [107]:
def recommend(movie):
    movie_index= movies[movies['title']== movie].index[0] # fetch the movie index
    distances= similarity[movie_index] # take all the movie match distances 
    movies_list= sorted(list(enumerate(distances)),reverse= True, key= lambda x:x[1])[1:6] # take top 5 matchs movie index 
    
    for i in movies_list:
        print(movies.iloc[i[0]].title)

In [106]:
recommend('Spectre')

Quantum of Solace
Never Say Never Again
Skyfall
From Russia with Love
Thunderball